@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'firasansbold';
  src: url('../fonts/firasansbold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/firasansbold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/firasansbold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/firasansbold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/firasansbold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/firasansbold.svg#firasansbold') format('svg'), /* Legacy iOS */
       url('../fonts/firasansbold.otf') format('otf'); /* Super Modern Browsers */

}

@font-face {
  font-family: 'firasanslight';
  src: url('../fonts/firasanslight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/firasanslight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/firasanslight.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/firasanslight.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/firasanslight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/firasanslight.svg#firasanslight') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'firasansregular';
  src: url('../fonts/firasansregular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/firasansregular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/firasansregular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/firasansregular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/firasansregular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/firasansregular.svg#firasansregular') format('svg'); /* Legacy iOS */
}
h1 {
	font-family: "firasansregular", sans-serif;
	}
h2 {
	font-family: "firasansregular", sans-serif;
	}
h3 {
	font-family: "firasansbold", sans-serif;
	}
h4 {
	font-family: "firasansbold", sans-serif;
	}
h5 {
	font-family: "firasansbold", sans-serif;
	}
h6 {
	font-family: "firasansbold", sans-serif;
	}
.h1 {
	font-family: "firasansregular", sans-serif;
	}
.h2 {
	font-family: "firasansregular", sans-serif;
	}
.h3 {
	font-family: "firasansbold", sans-serif;
	}
.h4 {
	font-family: "firasansbold", sans-serif;
	}
.h5 {
	font-family: "firasansbold", sans-serif;
	}
.h6 {
	font-family: "firasansbold", sans-serif;
	}
p {
	font-family: "firasanslight", sans-serif;
	}
a {
	font-family: 'firasansregular', sans-serif;
	}
ul {
	font-family: 'firasansregular', sans-serif;
	}
li {
	font-family: 'firasansregular', sans-serif;
	}
.white-txt {
	color:#fff;
	}
.padtop10 {
	padding-top: 10px;
	}
.padtop20 {
	padding-top: 20px;
	}
.padtop50 {
	padding-top: 50px;
	}
.padtop70 {
	padding-top: 70px;
	}
.padtop100 {
	padding-top: 100px;
	}
.padbot20 {
	padding-bottom: 20px;
	}
.padbot10 {
	padding-bottom: 10px;
	}
.padbot50 {
	padding-bottom: 50px;
	}
.margtop10 {
	margin-top:10px;
	}
.margtop20 {
	margin-top:20px;
	}
.margtop50 {
	margin-top:50px;
	}
.margtop30 {
	margin-top:30px;
	}
.margtop100 {
	margin-top:100px;
	}
.margbot10 {
	margin-bottom:10px;
	}
.margbot20 {
	margin-bottom:20px;
	}
.margtop15 {
	margin-top:15px;
	}
.margtop5 {
    margin-top:5px;
}
.margtop0 {
    margin-top:0px;
}
.margtop1 {
    margin-top:1px;
}
.margtop6 {
    margin-top:6px;
}
.margbot4 {
    margin-bottom:4px;
}
.margbot15 {
    margin-bottom:15px;
}
.margbot30 {
    margin-bottom:30px;
}
.margbot0 {
    margin-bottom:0px;
}
.margbot1 {
    margin-bottom:1px;
}
.inl-bl {
    display: inline-block;
    vertical-align: top;
}

#scrol {
    background-image: url("../images/icons-bg.png");
    background-repeat: repeat;
    position: relative;
	background-attachment:fixed;
    z-index: 1;
}


.bg-main {
	background-repeat: repeat;
	background-attachment:fixed;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 0;
        font-family: "firasansregular",sans-serif;
}
.bg-buble {
    background-image: url('../images/glass.png');
    background-size: 100%;
}
.bg-blue {
    background-image: url('../images/blue.png');
    background-position: center center;
}
.bg-water {
    background-image: url('../images/water.png');
    background-position: center -260px;
    background-size: 100%;
}
.white-tr {
    background-image: url('../images/white.png');
    background-position: center center;
    background-size: 120%;
}
.topwhite-tr {
    background-image: url('../images/top-white.png');
    background-position: center center;
    background-size: 100%;
}
.blue-tr {
    background-image: url('../images/blue-tr.png');
    background-position: center center;
    background-size: 120%;
}
.header {
	background-color:#f0d124;
	}
.btn-round {
    background-color: #dc3022;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-family: "firasansregular",sans-serif;
    transition: background-color 0.3s ease-out 0s;
	padding: 2px 0;
	white-space: nowrap;
	text-align:center;
	}
.btn-round:hover {
	background-color:#f4534b;
	}
.dropdown-menu2 {
    margin: 0 0 0 -147px;
    min-width: 260px;
    padding: 5px 10px;
}
.yellow {
	background-color:#ecd000;
	}
.white {
	background-color:#fff;
	}
.blue {
	color:#21527e;
	}
.active {
	opacity: 1 !important;
	}
.pointer {
	cursor:pointer;
	}
.accrow {
	background-color:#fff;
	}
.accrow:checked {
	background-color:#fff;
	}
.accrow:hover {
	background-color:#ecd000;
	}
.newsmain {
	border-bottom:#999 solid 1px;
	}
.newsmain:last-child {
	border:none;
	}
.red {
	background-color:#c4110e;
	}
.banner-bg-1 {
	background-image:url(../images/banner-1.jpg);
	background-position:center center;
	background-repeat:no-repeat;
}

@media(max-width: 768px){
.btn-round {
    padding: 5px 10px;
}
}

.row-2 {
    margin-top: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #21527e;
}
.blue {
    background-color: #21527e;
}
.white {
    font: white;
}
.menu ul {
    padding-left: 0px;
} 
.menu ul li {
    display: inline-block;
    color: #c2e6fb;
    margin-right: 10px;
    font-size: 16px;
}
.menu ul li.last {
    margin-right: 0px;
}
.menu ul li a {
    color: #c2e6fb;
}
.menu {
    margin: 15px 0;
}
.text-frame {
    font-size: 30px;
    font-weight: bold;
}
.round_img {
    text-align: center;
}
.ingredient {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    font-family: 'firasansbold', 'pt sans';
}
.more {
    text-align: center;
    width: 263px;
    margin: 0 auto;
}
.bold {
    font-weight: bold;
}
.center {
    text-align: center;
}

.font14 {
 font-size: 14px;   
}
.font18 {
 font-size: 18px;   
}
.font20 {
 font-size: 20px;   
}
.font21 {
 font-size: 21px;   
}
.font24 {
 font-size: 24px;   
}
.font30 {
 font-size: 30px;   
}
.font36 {
 font-size: 36px;   
}
.borderleft {
    border-image: url('../images/vertical.png');
    border-bottom: none;
    border-left: none;
    border-top: none;
}